# Data Preparation for EDA and Modeling

During the data preparation, I've made a few cleaning decisions:

1. In the player data, I want to capture data for popular pro players such as DRG and Vanya who have changed their names
2. I added the popular player Florencio to the players list and removed players who have names too similar to other words commonly used such as "has","zero", and "ready"
3. There are several numbers I want to keep which involves computer parts, years, matchups (1 vs 1, 2 vs 2) or numbers
found in certain video games such as Cyberpunk 2077
4. I refined the stop words list to exclude words I believe would help grab a viewers attention, particularly words used when asking questions
5. I decided to keep words that are fully capitalized which I believe also help grab a viewers attention

In [1]:
# Imports
import pickle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.image as mpimg
import seaborn as sns
import nltk
from nltk.corpus import stopwords
import string
import re
from nltk import word_tokenize, FreqDist
from sklearn.feature_extraction.text import CountVectorizer

import warnings
warnings.filterwarnings("ignore")

## Defining Processing Functions

In [2]:
# Preprocessor to help tokenize data
def splitter(input_message):
    message = input_message
    container = []
    
    # Identifies special numbers that we want to keep from the data
    # Usually involves computer parts (memory, GPU), numbers found in video game titles, or matchups (1 vs 1, 2 vs 2)
    comp_numbers = [2077,32,64,128,256,512,1024,1080,3080,60,144,2018,2019,2020,2021,2022,100,1,2,3,4]
    
    # specific player cleanup
    message = message.replace("dongraegu","drg")
    message = message.replace("dong rae gu",'drg')
    message = message.replace("rattata",'vanya')
    message = message.replace("liquid","")
    message = message.replace("dark templar","darktemplar")
    message = message.replace("dark shrine","darkshrine")

    # Obtains the first word before the column which is usually a video game title
    splitted = message.split(":")
    index = 0
    if ":" in message:
        container.append("".join(message.split(":")[0].split()))
        index = 1
    
    # Starts overall split of the data
    for word in message.split():
        if (index == 1) | (":" in word):
            index = 2
            continue
        # Removes punctuations and special characters
        all_upper = word.strip("!?()#&*")
        # Removes possessives
        all_upper = all_upper.replace("'s","").replace("'d","").replace("'","")

        # Removes numbers not in our accepted numbers list
        if all_upper.isdigit():
            if (int(all_upper) in comp_numbers):
                pass
            else:
                continue
        
        # Keeping words that are fully capitalized, otherwise, set word to lowercase
        if all_upper == all_upper.upper():
            container.append(all_upper)
        else:
            container.append(all_upper.lower())
    joined = " ".join(container)
    return joined

In [3]:
# Pulls out special words from predefined list
def get_from_list(message, special_list):
    container = []
    splitted = splitter(message)
    for word in splitted.split():
        if word.lower() in special_list:
            container.append(word.lower())
    return container

In [4]:
# Pulls out specific race or country info for players
def get_player_info(message,special_list,special_df, info=None):
    info_df = special_df.copy()
    info_df['tag'] = info_df['tag'].apply(lambda x: x.lower())
    container = []
    players = []
    splitted = splitter(message)
    if (info == 'race') | (info == 'country'):
        for word in splitted.split():
            if word.lower() in special_list:
                row = special_df.loc[info_df['tag'] == word.lower()]
                value = row[info].values[0]
                if word.lower() not in players:
                    container.append(value)
                    players.append(word.lower())
    # handles special cases
    if len(container)==3:
        container.pop(0)
    return container

In [5]:
# Extracts desired information from video stats
# Had to remove dislike count as they were removed from YouTube recently
def get_stats(video):
    vid_id = video['id']
    title = video['snippet']['title']
    date = video['snippet']['publishedAt']
    thumbnail = video['snippet']['thumbnails']['medium']['url']
    tags = video['snippet']['tags']
    views = video['statistics']['viewCount']
    likes = video['statistics']['likeCount']
    return {'vid_id':vid_id,'title':title,'date':date,'thumbnail':thumbnail,
            'tags':tags,'views':views,'likes':likes}

## Importing data pulled from APIs

In [6]:
all_stats = pickle.load(open(r"Data/all_stats.p","rb"))
players = pickle.load(open(r"Data/players_df.pickle","rb"))

In [7]:
# converting all_stats info a dataframe
main_df = pd.DataFrame.from_dict(all_stats).apply(lambda x: get_stats(x), axis=1).apply(pd.Series)

In [8]:
main_df['views'] = main_df['views'].astype(int)
main_df['likes'] = main_df['likes'].astype(int)

In [9]:
main_df.head()

,vid_id,title,date,thumbnail,tags,views,likes
0,LHDQ8iSbdck,StarCraft 2: EPIC COMEBACKS! (Scarlett vs ByuN),2021-12-21T19:00:14Z,https://i.ytimg.com/vi/LHDQ8iSbdck/mqdefault.jpg,"[Lowko, LowkoTV, Simon Heijnen, Tutorial, Guid...",8088,500
1,IM7OdVKFW4M,StarCraft 2: Maru LOVES CHEESING Cure! (Best-o...,2021-12-19T18:54:54Z,https://i.ytimg.com/vi/IM7OdVKFW4M/mqdefault.jpg,"[Lowko, LowkoTV, Simon Heijnen, Tutorial, Guid...",57301,1502
2,ReDXHIf6cuc,StarCraft 2: Can MaxPax OVERTAKE ShoWTimE's To...,2021-12-18T19:00:18Z,https://i.ytimg.com/vi/ReDXHIf6cuc/mqdefault.jpg,"[Lowko, LowkoTV, Simon Heijnen, Tutorial, Guid...",43247,1400
3,kWfuYGNq1C4,StarCraft 2: Dark's Epic NEW Micro Trick! (Byu...,2021-12-17T19:00:30Z,https://i.ytimg.com/vi/kWfuYGNq1C4/mqdefault.jpg,"[Lowko, LowkoTV, Simon Heijnen, Tutorial, Guid...",71067,2080
4,IUqQ_rVnSXg,StarCraft 2: MASSING ORACLES? (Lambo vs herO),2021-12-16T19:00:05Z,https://i.ytimg.com/vi/IUqQ_rVnSXg/mqdefault.jpg,"[Lowko, LowkoTV, Simon Heijnen, Tutorial, Guid...",69353,1839

In [10]:
# Only keeping the last 3 years of YouTube video data
current_df = main_df.loc[main_df['date']>='2018']

In [11]:
current_df

,vid_id,title,date,thumbnail,tags,views,likes
0,LHDQ8iSbdck,StarCraft 2: EPIC COMEBACKS! (Scarlett vs ByuN),2021-12-21T19:00:14Z,https://i.ytimg.com/vi/LHDQ8iSbdck/mqdefault.jpg,"[Lowko, LowkoTV, Simon Heijnen, Tutorial, Guid...",8088,500
1,IM7OdVKFW4M,StarCraft 2: Maru LOVES CHEESING Cure! (Best-o...,2021-12-19T18:54:54Z,https://i.ytimg.com/vi/IM7OdVKFW4M/mqdefault.jpg,"[Lowko, LowkoTV, Simon Heijnen, Tutorial, Guid...",57301,1502
2,ReDXHIf6cuc,StarCraft 2: Can MaxPax OVERTAKE ShoWTimE's To...,2021-12-18T19:00:18Z,https://i.ytimg.com/vi/ReDXHIf6cuc/mqdefault.jpg,"[Lowko, LowkoTV, Simon Heijnen, Tutorial, Guid...",43247,1400
3,kWfuYGNq1C4,StarCraft 2: Dark's Epic NEW Micro Trick! (Byu...,2021-12-17T19:00:30Z,https://i.ytimg.com/vi/kWfuYGNq1C4/mqdefault.jpg,"[Lowko, LowkoTV, Simon Heijnen, Tutorial, Guid...",71067,2080
4,IUqQ_rVnSXg,StarCraft 2: MASSING ORACLES? (Lambo vs herO),2021-12-16T19:00:05Z,https://i.ytimg.com/vi/IUqQ_rVnSXg/mqdefault.jpg,"[Lowko, LowkoTV, Simon Heijnen, Tutorial, Guid...",69353,1839
...,...,...,...,...,...,...,...
1247,2KJv_9IbrZ0,StarCraft 2: THE PLANETARY FORTRESS CONTAIN!,2018-01-06T21:00:00Z,https://i.ytimg.com/vi/2KJv_9IbrZ0/mqdefault.jpg,"[lowko, lowkotv, tutorial, guide, commentary, ...",228100,4394
1248,aOqlr2tN4Eo,StarCraft 2: ESCAPE ON THE HYPERION!,2018-01-05T21:00:00Z,https://i.ytimg.com/vi/aOqlr2tN4Eo/mqdefault.jpg,"[StarCraft 2, StarCraft 2: Wings of Liberty, W...",165132,4039
1249,Age4eNRUMrk,StarCraft 2: THE ZERG... MOTHERSHIP?!,2018-01-04T21:00:01Z,https://i.ytimg.com/vi/Age4eNRUMrk/mqdefault.jpg,"[lowko, lowkotv, tutorial, guide, commentary, ...",1783323,32859
1250,czuUoHltWpc,StarCraft 2: MASS SKY ZERG! (Triple Threat),2018-01-03T21:00:01Z,https://i.ytimg.com/vi/czuUoHltWpc/mqdefault.jpg,"[starcraft 2, starcraft 2 co-op, co-op mission...",60053,1143
1251,Co4LMljCe4s,StarCraft 2: WINGS OF LIBERTY!,2018-01-02T21:00:01Z,https://i.ytimg.com/vi/Co4LMljCe4s/mqdefault.jpg,"[StarCraft 2, StarCraft 2: Wings of Liberty, W...",381968,6049

## Cleaning the Player Data

In [12]:
# Converting string data to lowercase
players['country'] = players['country'].apply(lambda x: str(x).lower())
players['race'] = players['race'].apply(lambda x: str(x).lower())
players['tag'] = players['tag'].apply(lambda x: str(x).lower())

In [13]:
# Removing player names too similar to other commonly used words in titles
remove = ['jim','punk','thor','hyperion','probe','control','alpha','fenix','golden','fear','flood','strange',
          'terran','zerg','scv','nexus','reaper','meat','blink','chance','mechanics','wave','next','nice','zero',
          'shadow','raise','job','doctor','time','has','phoenix','raise','sortof','dns','keen',
          'cham','prototype','academy','ranger','blacksmith','faith','eternity','chase','crimson',
          'albion','fate','tears','coffee','monster','ready','hunter','ling','turn','master','risky']

In [14]:
dropped_players = players.loc[~players['tag'].isin(remove)]

In [15]:
dropped_players.head()

  country    id race          resource_uri     tag
0      fi   485    z   /api/v1/player/485/  serral
1      kr    49    t    /api/v1/player/49/    maru
2      fr  5878    t  /api/v1/player/5878/    clem
3      it  5414    z  /api/v1/player/5414/  reynor
4      kr    76    z    /api/v1/player/76/    dark

In [16]:
player_cleaning_df = current_df.copy()

In [17]:
player_cleaning_df

,vid_id,title,date,thumbnail,tags,views,likes
0,LHDQ8iSbdck,StarCraft 2: EPIC COMEBACKS! (Scarlett vs ByuN),2021-12-21T19:00:14Z,https://i.ytimg.com/vi/LHDQ8iSbdck/mqdefault.jpg,"[Lowko, LowkoTV, Simon Heijnen, Tutorial, Guid...",8088,500
1,IM7OdVKFW4M,StarCraft 2: Maru LOVES CHEESING Cure! (Best-o...,2021-12-19T18:54:54Z,https://i.ytimg.com/vi/IM7OdVKFW4M/mqdefault.jpg,"[Lowko, LowkoTV, Simon Heijnen, Tutorial, Guid...",57301,1502
2,ReDXHIf6cuc,StarCraft 2: Can MaxPax OVERTAKE ShoWTimE's To...,2021-12-18T19:00:18Z,https://i.ytimg.com/vi/ReDXHIf6cuc/mqdefault.jpg,"[Lowko, LowkoTV, Simon Heijnen, Tutorial, Guid...",43247,1400
3,kWfuYGNq1C4,StarCraft 2: Dark's Epic NEW Micro Trick! (Byu...,2021-12-17T19:00:30Z,https://i.ytimg.com/vi/kWfuYGNq1C4/mqdefault.jpg,"[Lowko, LowkoTV, Simon Heijnen, Tutorial, Guid...",71067,2080
4,IUqQ_rVnSXg,StarCraft 2: MASSING ORACLES? (Lambo vs herO),2021-12-16T19:00:05Z,https://i.ytimg.com/vi/IUqQ_rVnSXg/mqdefault.jpg,"[Lowko, LowkoTV, Simon Heijnen, Tutorial, Guid...",69353,1839
...,...,...,...,...,...,...,...
1247,2KJv_9IbrZ0,StarCraft 2: THE PLANETARY FORTRESS CONTAIN!,2018-01-06T21:00:00Z,https://i.ytimg.com/vi/2KJv_9IbrZ0/mqdefault.jpg,"[lowko, lowkotv, tutorial, guide, commentary, ...",228100,4394
1248,aOqlr2tN4Eo,StarCraft 2: ESCAPE ON THE HYPERION!,2018-01-05T21:00:00Z,https://i.ytimg.com/vi/aOqlr2tN4Eo/mqdefault.jpg,"[StarCraft 2, StarCraft 2: Wings of Liberty, W...",165132,4039
1249,Age4eNRUMrk,StarCraft 2: THE ZERG... MOTHERSHIP?!,2018-01-04T21:00:01Z,https://i.ytimg.com/vi/Age4eNRUMrk/mqdefault.jpg,"[lowko, lowkotv, tutorial, guide, commentary, ...",1783323,32859
1250,czuUoHltWpc,StarCraft 2: MASS SKY ZERG! (Triple Threat),2018-01-03T21:00:01Z,https://i.ytimg.com/vi/czuUoHltWpc/mqdefault.jpg,"[starcraft 2, starcraft 2 co-op, co-op mission...",60053,1143
1251,Co4LMljCe4s,StarCraft 2: WINGS OF LIBERTY!,2018-01-02T21:00:01Z,https://i.ytimg.com/vi/Co4LMljCe4s/mqdefault.jpg,"[StarCraft 2, StarCraft 2: Wings of Liberty, W...",381968,6049

### Adding labels for players in title

In [18]:
player_list = dropped_players.tag.values

In [19]:
# Creates a column with a list of players found in title
player_cleaning_df['players'] = player_cleaning_df['title'].apply(lambda x: get_from_list(x,player_list))

In [20]:
# Creates a column for each player and add 1 if player is in title
for i in range(len(player_list)):
    for player in player_cleaning_df.iloc[i].players:
        player_cleaning_df.at[i,player]=1

### Finding average views and number of videos for each player

In [21]:
avg_views = []
count_views = []

# Find average views and number of videos, 0 if none
for player in player_list:
    try:
        avg_views.append(player_cleaning_df.loc[player_cleaning_df[player]==True].views.mean())
        count_views.append(player_cleaning_df.loc[player_cleaning_df[player]==True].views.count())
    except:
        avg_views.append(0)
        count_views.append(0)

In [22]:
# Add these values to the player info data frame
dropped_players['avg_views'] = avg_views
dropped_players['num_videos'] = count_views

In [23]:
dropped_players.head()

  country    id race          resource_uri     tag      avg_views  num_videos
0      fi   485    z   /api/v1/player/485/  serral  157787.452830          53
1      kr    49    t    /api/v1/player/49/    maru  146143.527778          36
2      fr  5878    t  /api/v1/player/5878/    clem  142728.652174          46
3      it  5414    z  /api/v1/player/5414/  reynor  140566.318182          44
4      kr    76    z    /api/v1/player/76/    dark  129995.939394          33

## Getting Country Data

In [24]:
countries_list = np.array(list(set(dropped_players.country)))

In [25]:
countries_list[:5]

array(['au', 'in', 'my', 'gt', 'by'], dtype='<U4')

In [26]:
countries_list.astype(str)

array(['au', 'in', 'my', 'gt', 'by', 'hu', 'co', 'bg', 'it', 'sk', 'mm',
       'id', 'ar', 'dz', 'za', 'is', 'kr', 'uk', 'es', 'ie', 'fr', 'hk',
       'vn', 'cr', 'pl', 'pe', 'cz', 've', 'none', 'nz', 'nl', 'hr', 'cu',
       'no', 'bo', 'de', 'il', 'mx', 'lu', 'dk', 'tr', 'at', 'br', 'ba',
       'ro', 'cl', 'lv', 'ee', 'be', 'bd', 'ru', 'fi', 'ca', 'ch', 'lt',
       'ph', 'us', 'si', 'cn', 'sg', 'eg', 'jp', 'tw', 'se', 'ua', 'uz'],
      dtype='<U4')

In [27]:
# Adds list of countries associated with the player names found in titles
player_cleaning_df['country'] = player_cleaning_df['title'].apply(
                                lambda x: get_player_info(x,player_list,dropped_players,info='country'))

In [28]:
for i in range(len(player_cleaning_df)):
    for country in player_cleaning_df.iloc[i].country:
        player_cleaning_df.at[i,country]=1
player_cleaning_df.fillna(0,inplace=True)

In [29]:
avg_views_country = []
count_views_country = []

# Find average views and number of videos for countries
for country in countries_list:
    try:
        avg_views_country.append(player_cleaning_df.loc[player_cleaning_df[country]==1].views.mean())
        count_views_country.append(player_cleaning_df.loc[player_cleaning_df[country]==1].views.count())
    except:
        avg_views_country.append(0)
        count_views_country.append(0)

In [30]:
countries_df = pd.DataFrame(data=[countries_list])

In [31]:
countries_df = countries_df.T

In [32]:
countries_df['avg_views'] = avg_views_country
countries_df['num_videos'] = count_views_country

In [33]:
countries_df.columns = ['country_code','avg_views','num_videos']

In [34]:
countries_df

   country_code      avg_views  num_videos
0            au       0.000000           0
1            in       0.000000           0
2            my       0.000000           0
3            gt       0.000000           0
4            by       0.000000           0
..          ...            ...         ...
61           jp       0.000000           0
62           tw   64856.000000           1
63           se   95252.500000           2
64           ua  145191.178571          28
65           uz       0.000000           0

[66 rows x 3 columns]

In [36]:
# imports csv with country codes and names
ccodes = pd.read_csv(r'Data\country_codes.csv',encoding='latin-1')
ccodes['Code'] = ccodes['Code'].apply(lambda x: str(x).lower().strip())

In [37]:
country_zip = countries_df['country_code']

In [38]:
country_container = []
for country in country_zip:
    try:
        country_container.append(ccodes.loc[ccodes['Code']==country,'Country'].values[0])
    except:
        country_container.append("None")

In [39]:
countries_df['country'] = country_container

In [40]:
countries_df.head()

  country_code  avg_views  num_videos    country
0           au        0.0           0  Australia
1           in        0.0           0      India
2           my        0.0           0   Malaysia
3           gt        0.0           0  Guatemala
4           by        0.0           0    Belarus

## Getting SC2 Race Data

In [41]:
# Following similar logic to the countries, except the totals will have number of races instead of just a label

In [42]:
# Starcraft 2 races = Zerg, Protoss, Terran
sc2races = ['z','p','t']

In [43]:
# Adds list of countries associated with the player names found in titles
player_cleaning_df['sc2race'] = player_cleaning_df['title'].apply(
                                lambda x: get_player_info(x,player_list,dropped_players,info='race'))
player_cleaning_df['z'] = 0
player_cleaning_df['t'] = 0
player_cleaning_df['p'] = 0

In [44]:
player_cleaning_df['sc2race']

0       [z, t]
1       [t, t]
2       [p, p]
3       [z, t]
4       [z, p]
         ...
1247        []
1248        []
1249        []
1250        []
1251        []
Name: sc2race, Length: 1252, dtype: object

In [45]:
for i in range(len(player_cleaning_df)):
    for race in player_cleaning_df.iloc[i].sc2race:
        try:
            player_cleaning_df.at[i,race]+=1
        except:
            player_cleaning_df.at[i,race]=1

In [46]:
avg_views_race = []
count_views_race = []

# Find average views and number of videos for sc2 races
for race in sc2races:
    try:
        avg_views_race.append(player_cleaning_df.loc[player_cleaning_df[race]>0].views.mean())
        count_views_race.append(player_cleaning_df.loc[player_cleaning_df[race]>0].views.count())
    except:
        avg_views_race.append(0)
        count_views_race.append(0)

In [47]:
sc2races_df = pd.DataFrame(data=[sc2races])
sc2races_df = sc2races_df.T

In [48]:
sc2races_df['avg_views'] = avg_views_race
sc2races_df['num_videos'] = count_views_race
sc2races_df.columns = ['race','avg_views','num_videos']

In [49]:
sc2races_df

  race      avg_views  num_videos
0    z  133687.225941         239
1    p  119526.383333         180
2    t  128016.711340         194

## Getting Matchup Data
- Focusing on just the 1 vs 1 matchups for this EDA, which is the most popular in this channel

In [50]:
# 6 combinations of matchups for 3 races
sc2matchups = ['ZvZ','ZvP','ZvT','TvT','TvP','PvP']

In [51]:
for matchup in sc2matchups:
    player_cleaning_df[matchup] = 0

In [52]:
# Assigns a label for each combination of matchup
for i in range(len(player_cleaning_df)):
    race = player_cleaning_df.iloc[i].sc2race
    if len(race) == 2:
        if ("z" in race) & ("t" in race):
            player_cleaning_df.at[i,'ZvT']=1
        elif ("z" in race) & ("p" in race):
            player_cleaning_df.at[i,'ZvP']=1
        elif ("t" in race) & ("p" in race):
            player_cleaning_df.at[i,'TvP']=1
        elif ("z" in race):
            player_cleaning_df.at[i,'ZvZ']=1
        elif ("t" in race):
            player_cleaning_df.at[i,'TvT']=1
        elif ("p" in race):
            player_cleaning_df.at[i,'PvP']=1

In [53]:
matchup_df = pd.DataFrame(data=[sc2matchups])
matchup_df = matchup_df.T

In [54]:
avg_views_matchup = []
count_views_matchup = []

# Find average views and number of videos for sc2 races
for matchup in sc2matchups:
    try:
        avg_views_matchup.append(player_cleaning_df.loc[player_cleaning_df[matchup]>0].views.mean())
        count_views_matchup.append(player_cleaning_df.loc[player_cleaning_df[matchup]>0].views.count())
    except:
        avg_views_matchup.append(0)
        count_views_matchup.append(0)

In [55]:
matchup_df['avg_views'] = avg_views_matchup
matchup_df['num_videos'] = count_views_matchup
matchup_df.columns = ['matchup','avg_views','num_videos']

In [56]:
matchup_df

  matchup      avg_views  num_videos
0     ZvZ  119621.000000          23
1     ZvP  141852.568966          58
2     ZvT  148570.689655          87
3     TvT   93882.444444          18
4     TvP  115359.255319          47
5     PvP   71545.333333          18

## Getting Game Data
- Game titles are usually before the ":" in the titles

In [57]:
def game_split(message):
    if ":" in message:
        return ("".join(message.lower().split(":")[0].split()))

In [58]:
player_cleaning_df['game'] = player_cleaning_df['title'].apply(lambda x:game_split(x))

In [59]:
player_cleaning_df['game'].fillna("none",inplace=True)

In [60]:
player_cleaning_df['game'].value_counts()

starcraft2                   966
none                         119
warcraft3                     46
frostpunk                     40
ageofempires4                 11
starcraft2co-op               11
lowkovszelda                  11
starcraft                     10
lowkovssekiro                  8
theyarebillions                4
warcraft3reforged              3
underlords                     2
dotaunderlords                 2
thestanleyparable              1
mutantyearzero                 1
diablo4announcement            1
darksouls3                     1
worldofwarcraft                1
farcry5                        1
lowkoplays...starcraft         1
lowkoplaysworldofwarcraft      1
hearthstonebattlegrounds       1
worldofwarcraftrp              1
lowkovsaplaguetale             1
worldofwarcraftclassic         1
lowkovsabzu                    1
starcraft2co-opbrutal+6        1
hearthstone                    1
ironharvest                    1
tropico6                       1
arise                          1
fortnite                       1
Name: game, dtype: int64

In [61]:
# Cleaning game titles to consolidate some of the same games
player_cleaning_df['game'] = player_cleaning_df['game'].apply(lambda x: x.replace("starcraft2co-op","starcraft2"))
player_cleaning_df['game'] = player_cleaning_df['game'].apply(lambda x: x.replace("starcraft2brutal+6","starcraft2"))
player_cleaning_df['game'] = player_cleaning_df['game'].apply(lambda x: x.replace("warcraft3reforged","warcraft3"))
player_cleaning_df['game'] = player_cleaning_df['game'].apply(lambda x: x.replace("lowkovszelda","zelda"))
player_cleaning_df['game'] = player_cleaning_df['game'].apply(lambda x: x.replace("lowkoplays...starcraft","starcraft"))
player_cleaning_df['game'] = player_cleaning_df['game'].apply(lambda x: x.replace("dotaunderlords","underlords"))
player_cleaning_df['game'] = player_cleaning_df['game'].apply(lambda x: x.replace("worldofwarcraftrp","worldofwarcraft"))
player_cleaning_df['game'] = player_cleaning_df['game'].apply(lambda x: x.replace("lowkoplaysworldofwarcraft",
                                                                                  "worldofwarcraft"))
player_cleaning_df['game'] = player_cleaning_df['game'].apply(lambda x: x.replace("lowkovsabzu","sabzu"))
player_cleaning_df['game'] = player_cleaning_df['game'].apply(lambda x: x.replace("lowkovsaplaguetale","aplaguetale"))
player_cleaning_df['game'] = player_cleaning_df['game'].apply(lambda x: x.replace("lowkovssekiro","sekiro"))
player_cleaning_df['game'] = player_cleaning_df['game'].apply(lambda x: x.replace("hearthstonebattlegrounds",
                                                                                  "hearthstone"))

In [62]:
player_cleaning_df['game'].value_counts()

starcraft2                978
none                      119
warcraft3                  49
frostpunk                  40
starcraft                  11
ageofempires4              11
zelda                      11
sekiro                      8
theyarebillions             4
underlords                  4
worldofwarcraft             3
hearthstone                 2
aplaguetale                 1
diablo4announcement         1
mutantyearzero              1
darksouls3                  1
arise                       1
thestanleyparable           1
sabzu                       1
farcry5                     1
tropico6                    1
worldofwarcraftclassic      1
ironharvest                 1
fortnite                    1
Name: game, dtype: int64

In [63]:
game_df = player_cleaning_df[['game','views']].groupby('game').agg(['mean','count']).reset_index()
game_df.columns = ['game_title','avg_views','num_videos']

In [64]:
game_df

                game_title      avg_views  num_videos
0            ageofempires4   68345.363636          11
1              aplaguetale   30590.000000           1
2                    arise   17146.000000           1
3               darksouls3   15482.000000           1
4      diablo4announcement   74531.000000           1
5                  farcry5   23703.000000           1
6                 fortnite   18326.000000           1
7                frostpunk   31125.125000          40
8              hearthstone   20215.500000           2
9              ironharvest  101742.000000           1
10          mutantyearzero   45867.000000           1
11                    none   48994.268908         119
12                   sabzu   19756.000000           1
13                  sekiro   16599.625000           8
14               starcraft  247225.090909          11
15              starcraft2  122538.140082         978
16       thestanleyparable   52054.000000           1
17         theyarebillions   86441.000000           4
18                tropico6   25485.000000           1
19              underlords   20990.750000           4
20               warcraft3   61438.469388          49
21         worldofwarcraft   29155.000000           3
22  worldofwarcraftclassic   33207.000000           1
23                   zelda   16892.000000          11

# Title Preparation for Neural Network

In [65]:
# These stop words don't add much to the analysis.  Kept other common stop words that 
special_stops = ['of','OF','is','the','THE','by','BY','it','in','on','and','but','being','an','for','to','they','any','from',
                'then','some','you','your','their','as','about','out','with','his','hers','he','she','at','go']

In [66]:
# Using a CountVectorizer with the predefined splitter function and special stop words for processing
# Also tokenizing for tri-grams to catch matchups X vs Y
grammed = CountVectorizer(preprocessor=splitter,stop_words=special_stops,ngram_range=(1,3))
grammedcounter = grammed.fit_transform(player_cleaning_df['title'])

In [67]:
grammed.vocabulary_

{'StarCraft2': 4201,
 'EPIC': 1279,
 'COMEBACKS': 867,
 'scarlett': 8771,
 'vs': 9382,
 'byun': 6711,
 'StarCraft2 EPIC': 4420,
 'EPIC COMEBACKS': 1286,
 'COMEBACKS scarlett': 868,
 'scarlett vs': 8782,
 'vs byun': 9517,
 'StarCraft2 EPIC COMEBACKS': 4424,
 'EPIC COMEBACKS scarlett': 1287,
 'COMEBACKS scarlett vs': 869,
 'scarlett vs byun': 8784,
 'maru': 7926,
 'LOVES': 2418,
 'CHEESING': 806,
 'cure': 7004,
 'best': 6595,
 'StarCraft2 maru': 5351,
 'maru LOVES': 7932,
 'LOVES CHEESING': 2421,
 'CHEESING cure': 811,
 'cure best': 7007,
 'StarCraft2 maru LOVES': 5354,
 'maru LOVES CHEESING': 7933,
 'LOVES CHEESING cure': 2422,
 'CHEESING cure best': 812,
 'can': 6798,
 'maxpax': 8010,
 'OVERTAKE': 3238,
 'showtime': 8864,
 'top': 9215,
 'position': 8435,
 'StarCraft2 can': 5216,
 'can maxpax': 6799,
 'maxpax OVERTAKE': 8013,
 'OVERTAKE showtime': 3239,
 'showtime top': 8868,
 'top position': 9218,
 'StarCraft2 can maxpax': 5217,
 'can maxpax OVERTAKE': 6801,
 'maxpax OVERTAKE showtime': 8014,
 'OVERTAKE showtime top': 3240,
 'showtime top position': 8869,
 'dark': 7035,
 'epic': 7216,
 'NEW': 2951,
 'micro': 8047,
 'trick': 9242,
 'StarCraft2 dark': 5248,
 'dark epic': 7041,
 'epic NEW': 7217,
 'NEW micro': 3018,
 'micro trick': 8057,
 'trick byun': 9243,
 'byun vs': 6745,
 'vs dark': 9530,
 'StarCraft2 dark epic': 5250,
 'dark epic NEW': 7042,
 'epic NEW micro': 7218,
 'NEW micro trick': 3019,
 'micro trick byun': 8058,
 'trick byun vs': 9244,
 'byun vs dark': 6747,
 'MASSING': 2647,
 'ORACLES': 3189,
 'lambo': 7687,
 'hero': 7537,
 'StarCraft2 MASSING': 4677,
 'MASSING ORACLES': 2650,
 'ORACLES lambo': 3190,
 'lambo vs': 7689,
 'vs hero': 9554,
 'StarCraft2 MASSING ORACLES': 4679,
 'MASSING ORACLES lambo': 2651,
 'ORACLES lambo vs': 3191,
 'lambo vs hero': 7691,
 'Starcraft2': 5532,
 'WORST': 6188,
 'grand': 7445,
 'finals': 7278,
 'ever': 7228,
 'serral': 8815,
 'rogue': 8732,
 'Starcraft2 WORST': 5533,
 'WORST grand': 6193,
 'grand finals': 7446,
 'finals ever': 7279,
 'ever serral': 7232,
 'serral vs': 8832,
 'vs rogue': 9606,
 'Starcraft2 WORST grand': 5534,
 'WORST grand finals': 6194,
 'grand finals ever': 7447,
 'finals ever serral': 7280,
 'ever serral vs': 7233,
 'serral vs rogue': 8846,
 'lowko': 7770,
 'explains': 7239,
 'UNIT': 5928,
 'COUNTERS': 917,
 'highlights': 7560,
 'lowko explains': 7804,
 'explains UNIT': 7240,
 'UNIT COUNTERS': 5929,
 'COUNTERS lowko': 918,
 'lowko highlights': 7818,
 'lowko explains UNIT': 7805,
 'explains UNIT COUNTERS': 7241,
 'UNIT COUNTERS lowko': 5930,
 'COUNTERS lowko highlights': 919,
 'TOP': 5771,
 'LEVEL': 2350,
 'STARCRAFT': 3990,
 'zerg': 9762,
 'terran': 9161,
 'StarCraft2 TOP': 5042,
 'TOP LEVEL': 5772,
 'LEVEL STARCRAFT': 2359,
 'STARCRAFT dark': 4021,
 'dark vs': 7051,
 'vs cure': 9526,
 'cure zerg': 7020,
 'zerg vs': 9806,
 'vs terran': 9632,
 'StarCraft2 TOP LEVEL': 5043,
 'TOP LEVEL STARCRAFT': 5776,
 'LEVEL STARCRAFT dark': 2360,
 'STARCRAFT dark vs': 4022,
 'dark vs cure': 7056,
 'vs cure zerg': 9528,
 'cure zerg vs': 7021,
 'zerg vs terran': 9808,
 'mass': 7967,
 'COMMAND': 874,
 'CENTER': 718,
 'strategy': 9058,
 'reynor': 8690,
 'maru mass': 7944,
 'mass COMMAND': 7968,
 'COMMAND CENTER': 875,
 'CENTER strategy': 722,
 'strategy reynor': 9060,
 'reynor vs': 8702,
 'vs maru': 9573,
 'StarCraft2 maru mass': 5357,
 'maru mass COMMAND': 7945,
 'mass COMMAND CENTER': 7969,
 'COMMAND CENTER strategy': 877,
 'CENTER strategy reynor': 723,
 'strategy reynor vs': 9061,
 'reynor vs maru': 8709,
 'AgeofEmpires4': 327,
 'empires': 7182,
 'chinese': 6870,
 'PROTOSS': 3432,
 'aoe4': 6453,
 'live': 7753,
 'gameplay': 7374,
 'AgeofEmpires4 empires': 328,
 'empires chinese': 7193,
 'chinese PROTOSS': 6871,
 'PROTOSS aoe4': 3461,
 'aoe4 live': 6454,
 'live gameplay': 7755,
 'AgeofEmpires4 empires chinese': 334,
 'empires chinese PROTOSS': 7194,
 'chinese PROTOSS aoe4': 6872,
 'PROTOSS aoe4 live': 3462,
 'aoe4 live gameplay': 6455,
 'FRIENDLY': 1561,
 'FIRE': 1463,
 'clem': 6888,
 'trap': 9231,
 'StarCraft2 FRIENDLY': 4485,
 'FRIENDLY FIRE': 1562,
 'FIRE clem': 1466,
 'clem vs': 6907,
 'vs trap': 9641,
 'trap best': 9236,
 'StarCraft2 FRIENDLY FIRE': 4486,
 'FRIENDLY FIRE clem': 1563,
 'FIRE clem vs': 1467,
 'clem vs trap': 6915,
 'vs trap best': 9642,
 'SNEAKY': 3945,
 'FUNGALS': 1593,
 'heromarine': 7544,
 'StarCraft2 SNEAKY': 4954,
 'SNEAKY FUNGALS': 3946,
 'FUNGALS serral': 1594,
 'vs heromarine': 9555,
 'StarCraft2 SNEAKY FUNGALS': 4955,
 'SNEAKY FUNGALS serral': 3947,
 'FUNGALS serral vs': 1595,
 'serral vs heromarine': 8840,
 'killed': 7665,
 'bases': 6549,
 'minutes': 8083,
 'cham': 6833,
 'forjumy': 7311,
 'StarCraft2 killed': 5331,
 'killed bases': 7666,
 'bases minutes': 6550,
 'minutes cham': 8084,
 'cham vs': 6834,
 'vs forjumy': 9537,
 'StarCraft2 killed bases': 5332,
 'killed bases minutes': 7667,
 'bases minutes cham': 6551,
 'minutes cham vs': 8085,
 'cham vs forjumy': 6835,
 'EXTREME': 1357,
 'late': 7697,
 'game': 7350,
 'winning': 9719,
 'WONDER': 6157,
 'viable': 9354,
 'empires EXTREME': 7183,
 'EXTREME late': 1364,
 'late game': 7698,
 'game winning': 7369,
 'winning WONDER': 9720,
 'WONDER viable': 6158,
 'AgeofEmpires4 empires EXTREME': 329,
 'empires EXTREME late': 7184,
 'EXTREME late game': 1365,
 'late game winning': 7702,
 'game winning WONDER': 7370,
 'winning WONDER viable': 9721,
 'GREATEST': 1850,
 'tournament': 9222,
 'player': 8383,
 'StarCraft2 GREATEST': 4513,
 'GREATEST tournament': 1851,
 'tournament player': 9226,
 'player rogue': 8384,
 'rogue vs': 8738,
 'vs scarlett': 9610,
 'StarCraft2 GREATEST tournament': 4514,
 'GREATEST tournament player': 1852,
 'tournament player rogue': 9227,
 'player rogue vs': 8385,
 'rogue vs scarlett': 8741,
 'starcraft': 8987,
 'grandmasters': 7462,
 'play': 8379,
 '2v2': 50,
 'winter': 9722,
 'empires starcraft': 7199,
 'starcraft grandmasters': 8998,
 'grandmasters play': 7463,
 'play 2v2': 8380,
 '2v2 lowko': 54,
 'lowko winter': 7855,
 'AgeofEmpires4 empires starcraft': 337,
 'empires starcraft grandmasters': 7201,
 'starcraft grandmasters play': 8999,
 'grandmasters play 2v2': 7464,
 'play 2v2 lowko': 8381,
 '2v2 lowko winter': 55,
 'stop': 9031,
 'DOMINATION': 1104,
 'can showtime': 6802,
 'showtime stop': 8865,
 'stop maru': 9036,
 'maru DOMINATION': 7929,
 'StarCraft2 can showtime': 5218,
 'can showtime stop': 6803,
 'showtime stop maru': 8867,
 'stop maru DOMINATION': 9037,
 'professional': 8462,
 'gamer': 7378,
 'CONFIRMED': 883,
 'professional gamer': 8469,
 'gamer CONFIRMED': 7379,
 'CONFIRMED lowko': 884,
 'professional gamer CONFIRMED': 8470,
 'gamer CONFIRMED lowko': 7380,
 'CONFIRMED lowko highlights': 885,
 'CHEESES': 791,
 'StarCraft2 byun': 5197,
 'byun CHEESES': 6714,
 'CHEESES serral': 803,
 'serral best': 8823,
 'StarCraft2 byun CHEESES': 5199,
 'byun CHEESES serral': 6715,
 'CHEESES serral best': 804,
 'CRAZY': 929,
 'GAMES': 1746,
 '1v1': 26,
 'co': 6926,
 'op': 8245,
 'commanders': 6954,
 'StarCraft2 CRAZY': 4361,
 'CRAZY GAMES': 932,
 'GAMES 1v1': 1747,
 '1v1 co': 27,
 'co op': 6927,
 'op commanders': 8273,
 'StarCraft2 CRAZY GAMES': 4363,
 'CRAZY GAMES 1v1': 933,
 'GAMES 1v1 co': 1748,
 '1v1 co op': 28,
 'co op commanders': 6931,
 'harstem': 7484,
 'gets': 7399,
 'taste': 9135,
 'HIS': 1955,
 'OWN': 3248,
 'MEDICINE': 2724,
 'mcanning': 8031,
 'StarCraft2 harstem': 5299,
 'harstem gets': 7491,
 'gets taste': 7414,
 'taste HIS': 9136,
 'HIS OWN': 1957,
 'OWN MEDICINE': 3251,
 'MEDICINE mcanning': 2725,
 'mcanning vs': 8032,
 'vs harstem': 9548,
 'StarCraft2 harstem gets': 5303,
 'harstem gets taste': 7492,
 'gets taste HIS': 7415,
 'taste HIS OWN': 9137,
 'HIS OWN MEDICINE': 1959,
 'OWN MEDICINE mcanning': 3252,
 'MEDICINE mcanning vs': 2726,
 'mcanning vs harstem': 8033,
 'SPECIAL': 3967,
 'TACTICS': 5547,
 'battering': 6552,
 'rams': 8568,
 'boats': 6647,
 'empires SPECIAL': 7191,
 'SPECIAL TACTICS': 3968,
 'TACTICS battering': 5548,
 'battering rams': 6553,
 'rams vs': 8569,
 'vs boats': 9515,
 'AgeofEmpires4 empires SPECIAL': 333,
 'empires SPECIAL TACTICS': 7192,
 'SPECIAL TACTICS battering': 3969,
 'TACTICS battering rams': 5549,
 'battering rams vs': 6554,
 'rams vs boats': 8570,
 'denver': 7089,
 'requests': 8677,
 'ANOTHER': 250,
 'DRAW': 1147,
 'elazer': 7162,
 'StarCraft2 denver': 5253,
 'denver requests': 7090,
 'requests ANOTHER': 8678,
 'ANOTHER DRAW': 251,
 'DRAW elazer': 1152,
 'elazer vs': 7165,
 'vs denver': 9533,
 'StarCraft2 denver requests': 5254,
 'denver requests ANOTHER': 7091,
 'requests ANOTHER DRAW': 8679,
 'ANOTHER DRAW elazer': 252,
 'DRAW elazer vs': 1153,
 'elazer vs denver': 7167,
 'now': 8219,
 'INCREDIBLY': 2116,
 'STRONG': 4108,
 'StarCraft2 cure': 5242,
 'cure now': 7008,
 'now INCREDIBLY': 8220,
 'INCREDIBLY STRONG': 2119,
 'STRONG scarlett': 4109,
 'StarCraft2 cure now': 5244,
 'cure now INCREDIBLY': 7009,
 'now INCREDIBLY STRONG': 8221,
 'INCREDIBLY STRONG scarlett': 2120,
 'STRONG scarlett vs': 4110,
 'scarlett vs cure': 8786,
 'KING': 2279,
 'HILL': 1954,
 'empires KING': 7185,
 'KING HILL': 2280,
 'AgeofEmpires4 empires KING': 330,
 'empires KING HILL': 7186,
 'MARU': 2595,
 'CLEM': 833,
 'StarCraft2 MARU': 4662,
 'MARU vs': 2601,
 'vs CLEM': 9400,
 'CLEM best': 834,
 'StarCraft2 MARU vs': 4665,
 'MARU vs CLEM': 2602,
 'vs CLEM best': 9401,
 'chased': 6842,
 'HYDRALISK': 2037,
 'twitch': 9257,
 'lowko gets': 7809,
 'gets chased': 7406,
 'chased HYDRALISK': 6843,
 'HYDRALISK twitch': 2038,
 'twitch highlights': 9260,
 'lowko gets chased': 7812,
 'gets chased HYDRALISK': 7407,
 'chased HYDRALISK twitch': 6844,
 'HYDRALISK twitch highlights': 2039,
 'MATCH': 2677,
 'absolute': 6383,
 'final': 7267,
 'units': 9297,
 'gungfubanda': 7481,
 'EPIC MATCH': 1296,
 'MATCH absolute': 2680,
 'absolute final': 6384,
 'final units': 7275,
 'units denver': 9300,
 'denver vs': 7092,
 'vs gungfubanda': 9547,
 'StarCraft2 EPIC MATCH': 4428,
 'EPIC MATCH absolute': 1297,
 'MATCH absolute final': 2681,
 'absolute final units': 6385,
 'final units denver': 7276,
 'units denver vs': 9301,
 'denver vs gungfubanda': 7093,
 'war': 9654,
 'elephants': 7171,
 'are': 6464,
 'INSANELY': 2163,
 'strong': 9074,
 'delhi': 7081,
 'sultanate': 9092,
 'empires war': 7202,
 'war elephants': 9659,
 'elephants are': 7172,
 'are INSANELY': 6467,
 'INSANELY strong': 2164,
 'strong delhi': 9075,
 'delhi sultanate': 7082,
 'AgeofEmpires4 empires war': 338,
 'empires war elephants': 7203,
 'war elephants are': 9660,
 'elephants are INSANELY': 7173,
 'are INSANELY strong': 6468,
 'INSANELY strong delhi': 2165,
 'strong delhi sultanate': 9076,
 'match': 7987,
 'ACTUAL': 116,
 'year': 9738,
 'StarCraft2 epic': 5262,
 'epic match': 7223,
 'match ACTUAL': 7989,
 'ACTUAL game': 119,
 'game year': 7371,
 'year clem': 9741,
 'vs showtime': 9614,
 'StarCraft2 epic match': 5265,
 'epic match ACTUAL': 7224,
 'match ACTUAL game': 7990,
 'ACTUAL game year': 120,
 'game year clem': 7372,
 'year clem vs': 9742,
 'clem vs showtime': 6914,
 'KEIRON': 2262,
 'very': 9338,
 'high': 7551,
 'quality': 8549,
 'custom': 7025,
 'race': 8552,
 'fourth': 7316,
 'contest': 6966,
 'StarCraft2 KEIRON': 4606,
 'KEIRON very': 2263,
 'very high': 9343,
 'high quality': 7552,
 'quality custom': 8550,
 'custom race': 7026,
 'race fourth': 8557,
 'fourth race': 7317,
 'race contest': 8556,
 'StarCraft2 KEIRON very': 4607,
 'KEIRON very high': 2264,
 'very high quality': 9344,
 'high quality custom': 7553,
 'quality custom race': 8551,
 'custom race fourth': 7027,
 'race fourth race': 8558,
 'fourth race contest': 7319,
 'STIMS': 4045,
 'INTO': 2178,
 'LURKERS': 2474,
 'MARU STIMS': 2598,
 'STIMS INTO': 4046,
 'INTO LURKERS': 2179,
 'LURKERS rogue': 2485,
 'StarCraft2 MARU STIMS': 4664,
 'MARU STIMS INTO': 2599,
 'STIMS INTO LURKERS': 4047,
 'INTO LURKERS rogue': 2180,
 'LURKERS rogue vs': 2486,
 'rogue vs maru': 8739,
 'MACRO': 2529,
 'GAME': 1688,
 'turtle': 9252,
 'english': 7212,
 'macro': 7875,
 'french': 7322,
 'empires MACRO': 7187,
 'MACRO GAME': 2533,
 'GAME turtle': 1734,
 'turtle english': 9253,
 'english vs': 7213,
 'vs macro': 9567,
 'macro french': 7878,
 'french live': 7323,
 'AgeofEmpires4 empires MACRO': 331,
 'empires MACRO GAME': 7188,
 'MACRO GAME turtle': 2534,
 'GAME turtle english': 1735,
 'turtle english vs': 9254,
 'english vs macro': 7214,
 'vs macro french': 9568,
 'macro french live': 7879,
 'french live gameplay': 7324,
 'STRANGE': 4079,
 'strategies': 9052,
 'gumiho': 7472,
 'StarCraft2 very': 5488,
 'very STRANGE': 9341,
 'STRANGE terran': 4082,
 'terran strategies': 9184,
 'strategies serral': 9056,
 'vs gumiho': 9546,
 'StarCraft2 very STRANGE': 5490,
 'very STRANGE terran': 9342,
 'STRANGE terran strategies': 4083,
 'terran strategies serral': 9185,
 'strategies serral vs': 9057,
 'serral vs gumiho': 8838,
 'cheesed': 6861,
 'NO': 3055,
 'TOWN': 5795,
 'no': 8216,
 'problems': 8456,
 'empires lowko': 7197,
 'gets cheesed': 7408,
 'cheesed NO': 6862,
 'NO TOWN': 3060,
 'TOWN CENTER': 5796,
 'CENTER no': 720,
 'no problems': 8217,
 'AgeofEmpires4 empires lowko': 336,
 'empires lowko gets': 7198,
 'lowko gets cheesed': 7813,
 'gets cheesed NO': 7409,
 'cheesed NO TOWN': 6863,
 'NO TOWN CENTER': 3061,
 'TOWN CENTER no': 5797,
 'CENTER no problems': 721,
 'HYBRID': 2033,
 'protoss': 8480,
 'multiplayer': 8123,
 'StarCraft2 fourth': 5283,
 'race HYBRID': 8553,
 'HYBRID vs': 2034,
 'vs protoss': 9593,
 'protoss zerg': 8505,
 'zerg 1v1': 9763,
 '1v1 multiplayer': 29,
 'StarCraft2 fourth race': 5284,
 'fourth race HYBRID': 7318,
 'race HYBRID vs': 8554,
 'HYBRID vs protoss': 2035,
 'vs protoss zerg': 9599,
 'protoss zerg 1v1': 8506,
 'zerg 1v1 multiplayer': 9764,
 'VERY': 5986,
 'FIRST': 1470,
 'balance': 6520,
 'whine': 9698,
 'VERY FIRST': 5991,
 'FIRST starcraft': 1476,
 'starcraft balance': 8990,
 'balance whine': 6526,
 'whine twitch': 9699,
 'VERY FIRST starcraft': 5992,
 'FIRST starcraft balance': 1477,
 'starcraft balance whine': 8991,
 'balance whine twitch': 6527,
 'whine twitch highlights': 9700,
 'HUGE': 2009,
 'THROW': 5712,
 'StarCraft2 HUGE': 4545,
 'HUGE THROW': 2023,
 'THROW gumiho': 5713,
 'gumiho vs': 7475,
 'vs maxpax': 9576,
 'maxpax best': 8017,
 'StarCraft2 HUGE THROW': 4551,
 'HUGE THROW gumiho': 2024,
 'THROW gumiho vs': 5714,
 'gumiho vs maxpax': 7478,
 'vs maxpax best': 9577,
 'IT': 2233,
 'IS': 2203,
 'NOT': 3075,
 'ZEST': 6371,
 'wings': 9715,
 'liberty': 7735,
 '2021': 40,
 'StarCraft2 IT': 4604,
 'IT IS': 2238,
 'IS NOT': 2228,
 'NOT DRAW': 3076,
 'DRAW ZEST': 1148,
 'ZEST wings': 6373,
 'wings liberty': 9716,
 'liberty tournament': 7737,
 'tournament 2021': 9223,
 'StarCraft2 IT IS': 4605,
 'IT IS NOT': 2240,
 'IS NOT DRAW': 2229,
 'NOT DRAW ZEST': 3077,
 'DRAW ZEST wings': 1149,
 'ZEST wings liberty': 6374,
 'wings liberty tournament': 9718,
 'liberty tournament 2021': 7738,
 'all': 6424,
 'sudden': 9086,
 'DARK': 983,
 'TEMPLAR': 5588,
 'StarCraft2 all': 5159,
 'all sudden': 6428,
 'sudden DARK': 9087,
 'DARK TEMPLAR': 984,
 'TEMPLAR hero': 5595,
 'hero vs': 7541,
 'StarCraft2 all sudden': 5160,
 'all sudden DARK': 6429,
 'sudden DARK TEMPLAR': 9088,
 'DARK TEMPLAR hero': 987,
 'TEMPLAR hero vs': 5596,
 'hero vs showtime': 7542,
 'ROYAL': 3718,
 'KNIGHT': 2288,
 'timing': 9207,
 'attack': 6500,
 'empires ROYAL': 7189,
 'ROYAL KNIGHT': 3719,
 'KNIGHT timing': 2289,
 'timing attack': 9208,
 'AgeofEmpires4 empires ROYAL': 332,
 'empires ROYAL KNIGHT': 7190,
 'ROYAL KNIGHT timing': 3720,
 'KNIGHT timing attack': 2290,
 'HARDEST': 1885,
 'mutation': 8126,
 'mission': 8089,
 'cold': 6940,
 'void': 9375,
 'brutal': 6679,
 'two': 9265,
 'different': 7105,
 'StarCraft2 HARDEST': 4519,
 'HARDEST mutation': 1891,
 'mutation mission': 8127,
 'mission cold': 8091,
 'cold void': 6941,
 'void brutal': 9376,
 'brutal two': 6690,
 'two different': 9268,
 'different strategies': 7106,
 'StarCraft2 HARDEST mutation': 4520,
 'HARDEST mutation mission': 1892,
 'mutation mission cold': 8129,
 'mission cold void': 8092,
 'cold void brutal': 6942,
 'void brutal two': 9377,
 'brutal two different': 6691,
 'two different strategies': 9269,
 'AMAZING': 189,
 'StarCraft2 serral': 5429,
 'serral clem': 8824,
 'clem AMAZING': 6889,
 'AMAZING zerg': 204,
 'StarCraft2 serral clem': 5433,
 'serral clem AMAZING': 8825,
 'clem AMAZING zerg': 6890,
 'AMAZING zerg vs': 206,
 'like': 7739,
 'PLANETARY': 3310,
 'FORTRESS': 1533,
 'RUSH': 3734,
 'much': 8118,
 'better': 6602,
 'empires like': 7195,
 'like PLANETARY': 7740,
 'PLANETARY FORTRESS': 3311,
 'FORTRESS RUSH': 1536,
 'RUSH much': 3745,
 'much better': 8119,
 'AgeofEmpires4 empires like': 335,
 'empires like PLANETARY': 7196,
 'like PLANETARY FORTRESS': 7741,
 'PLANETARY FORTRESS RUSH': 3314,
 'FORTRESS RUSH much': 1537,
 'RUSH much better': 3746,
 'BRAND': 580,
 'tricks': 9245,
 'BRAND NEW': 581,
 'NEW starcraft': 3023,
 'starcraft micro': 9002,
 'micro tricks': 8059,
 'tricks twitch': 9246,
 'BRAND NEW starcraft': 584,
 'NEW starcraft micro': 3024,
 'starcraft micro tricks': 9003,
 'micro tricks twitch': 8060,
 'tricks twitch highlights': 9247,
 'byul': 6708,
 'cant': 6812,
 'AGGRESSIVE': 146,
 'featuring': 7252,
 'otto': 8312,
 'overlord': 8317,
 'byun byul': 6733,
 'byul cant': 6709,
 'cant stop': 6813,
 'stop AGGRESSIVE': 9032,
 'AGGRESSIVE featuring': 153,
 'featuring otto': 7253,
 'otto overlord': 8313,
 'StarCraft2 byun byul': 5208,
 'byun byul cant': 6734,
 'byul cant stop': 6710,
 'cant stop AGGRESSIVE': 6814,
 'stop AGGRESSIVE featuring': 9033,
 'AGGRESSIVE featuring otto': 154,
 'featuring otto overlord': 7254,
 'grandmaster': 7450,
 'plays': 8393,
 'TIME': 5725,
 'starcraft grandmaster': 8996,
 'grandmaster plays': 7457,
 'plays FIRST': 8401,
 'FIRST TIME': 1474,
 'empires starcraft grandmaster': 7200,
 'starcraft grandmaster plays': 8997,
 'grandmaster plays FIRST': 7459,
 'plays FIRST TIME': 8402,
 'mana': 7887,
 'ABSOLUTE': 99,
 'BANGER': 396,
 'StarCraft2 reynor': 5413,
 'vs mana': 9569,
 'mana ABSOLUTE': 7888,
 'ABSOLUTE BANGER': 100,
 'BANGER zerg': 397,
 'StarCraft2 reynor vs': 5418,
 'reynor vs mana': 8708,
 'vs mana ABSOLUTE': 9570,
 'mana ABSOLUTE BANGER': 7889,
 'ABSOLUTE BANGER zerg': 101,
 'BANGER zerg vs': 398,
 'zerg vs protoss': 9807,
 'zest': 9813,
 'ALL': 165,
 'MAPS': 2585,
 'StarCraft2 zest': 5514,
 'zest vs': 9819,
 'rogue ALL': 8733,
 'ALL NEW': 178,
 'NEW MAPS': 2978,
 'MAPS best': 2586,
 'StarCraft2 zest vs': 5516,
 'zest vs rogue': 9824,
 'vs rogue ALL': 9607,
 'rogue ALL NEW': 8734,
 'ALL NEW MAPS': 179,
 'NEW MAPS best': 2979,
 'getting': 7416,
 'over': 8314,
 'rage': 8560,
 'compilation': 6955,
 'lowko plays': 7825,
 'plays getting': 8419,
 'getting over': 7417,
 'over rage': 8315,
 'rage compilation': 8561,
 'lowko plays getting': 7830,
 'plays getting over': 8420,
 'getting over rage': 7418,
 'over rage compilation': 8316,
 'REAPER': 3597,
 'SURPRISES': 4140,
 'solar': 8912,
 'ryung': 8770,
 'StarCraft2 REAPER': 4878,
 'REAPER SURPRISES': 3601,
 'SURPRISES professional': 4141,
 'professional 2v2': 8463,
 '2v2 maru': 56,
 'maru byun': 7938,
 'vs solar': 9616,
 'solar ryung': 8917,
 'StarCraft2 REAPER SURPRISES': 4879,
 'REAPER SURPRISES professional': 3602,
 'SURPRISES professional 2v2': 4142,
 'professional 2v2 maru': 8464,
 '2v2 maru byun': 57,
 'maru byun vs': 7939,
 'byun vs solar': 6751,
 'vs solar ryung': 9619,
 'bly': 6612,
 'BRILLIANT': 591,
 'proxy': 8510,
 'hatchery': 7520,
 'Starcraft2 bly': 5535,
 'bly BRILLIANT': 6618,
 'BRILLIANT proxy': 592,
 'proxy hatchery': 8518,
 'hatchery vs': 7521,
 'byun best': 6732,
 'Starcraft2 bly BRILLIANT': 5536,
 'bly BRILLIANT proxy': 6619,
 'BRILLIANT proxy hatchery': 593,
 'proxy hatchery vs': 8519,
 'hatchery vs byun': 7522,
 'vs byun best': 9518,
 'ULTIMATE': 5881,
 'mirror': 8086,
 'matchup': 8003,
 'StarCraft2 ULTIMATE': 5059,
 'ULTIMATE mirror': 5890,
 'mirror matchup': 8087,
 'matchup serral': 8004,
 'rogue best': 8737,
 'StarCraft2 ULTIMATE mirror': 5064,
 'ULTIMATE mirror matchup': 5891,
 'mirror matchup serral': 8088,

In [68]:
len(grammed.vocabulary_)

9835

In [69]:
grammed_df = pd.DataFrame(data=grammedcounter.toarray(),columns=grammed.get_feature_names())

In [70]:
grammed_df.head()

,100,100 DRONES,100 DRONES maru,100 MUTALISKS,100 PLAYERS,100 PLAYERS ENTER,1000,1000 ZERGLINGS,1000 ZERGLINGS reynor,10TH,...,zest vs soo,zest vs special,zest vs stats,zest vs zoun,zest zerg,zest zerg vs,zoun,zvp,zvp INSANE,zvp INSANE neeb
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [71]:
grammed_df['views'] = player_cleaning_df['views']

In [72]:
grammed_df.head()

,100,100 DRONES,100 DRONES maru,100 MUTALISKS,100 PLAYERS,100 PLAYERS ENTER,1000,1000 ZERGLINGS,1000 ZERGLINGS reynor,10TH,...,zest vs special,zest vs stats,zest vs zoun,zest zerg,zest zerg vs,zoun,zvp,zvp INSANE,zvp INSANE neeb,views
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8088
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,57301
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,43247
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,71067
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,69353

# Data Exports

In [73]:
# Players_cleaning_df for use with visualizations
# with open(r'Data\players_cleaned_df.pickle', 'wb') as f:
#     pickle.dump(player_cleaning_df, f)